include ryouko
include MANIFEST.in
include compile-windows.bat
include do-finish-compile-windows.py
include qt.conf
recursive-include ryouko_lib/translations *
recursive-include ryouko_lib/icons *
recursive-include ryouko_lib *
